* {
	font-family: "Segoe UI", "Segoe Pro", sans-serif;
}

div {
	margin-bottom: 10px;
}

label {
	display: block;
}

button {
	display: block;
	margin-block: 10px;
	padding: 10px;
}

#container {
	display: flex;
}

#before,
#afterCrop {
	padding: 10px;
}

#before {
	background: lightcyan;
}

#afterCrop {
	background: powderblue;
}

span {
	position: absolute;
	color: #fff;
	background: #000;
	opacity: 0.4;
}

.image-container {
	border: 1px dashed grey;
	padding: 0;
	margin: 0;
}
